@page "/admin/blogs/create"
@layout AdminLayout
@attribute [Authorize(Roles = "admin")]
@inject IBlogRepository blogRepository
@inject AuthenticationStateProvider authState

<div class="container shadow p-5 mt-4" dir="rtl">
    <h3 class="text-right">ثبت مقاله</h3>
    @if (ShowMessage)
    {
        <p class="alert alert-info text-center font-weight-bold">@Message</p>
    }
    <Form blog="blog" SubmitCallback="CreateBlog" @ref="form" />
</div>
