@page "/admin/categories/edit/{Id:long}"
@layout AdminLayout
@attribute [Authorize(Roles = "admin")]
@inject ICategoryRepository categoryRepository
@inject NavigationManager navManager

<div class="container mt-4 p-5 shadow" dir="rtl"> 
    <h3 class="text-right">ویرایش دسته بندی</h3> 
    @if (ShowMessage) 
    {
<p class="alert alert-info text-center font-weight-bold">@Message</p>}
    @if (category != null)
    {
<Form category="category" SubmitCallback="UpdateCategory" /> }
            else
            { 
<FormLoading />}
</div>