@page "/"

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!--loop-list-->
            <div class="loop-metro post-module-1 row">
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-1.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">سفر حسن روحانی به امریکا</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-2.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">آمار کشته شدگان کرونا</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-3.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">آمریکا و ایران مزاکره می کنند</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-4.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">بهترین جاذبه های توریستی ایران</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-5.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">تخت جمشید ترمیم می شود</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-6.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">یک استان جدید در ایران</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-7.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">اضافه کردن بیش از 100 دکل مخابراتی</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-8.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">شیراز پایتخت فرهنگی ایران</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-9.jpg)">
                            <a class="img-link" href="/Blog/Detail/2"></a>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <a class="color-white" href="/Blog/Detail/2">بررسی اختلاف های امریکا و ایران</a>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>