@page "/"

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!--loop-list-->
            <div class="loop-metro post-module-1 row">
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-1.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">سفر حسن روحانی به امریکا</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-2.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">آمار کشته شدگان کرونا</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-3.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">آمریکا و ایران مزاکره می کنند</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-4.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">بهترین جاذبه های توریستی ایران</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-5.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">تخت جمشید ترمیم می شود</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-6.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">یک استان جدید در ایران</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-7.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">اضافه کردن بیش از 100 دکل مخابراتی</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-8.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">شیراز پایتخت فرهنگی ایران</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-sm-12 mb-30 text-right">
                    <div class="post-thumb position-relative">
                        <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(assets/imgs/news-9.jpg)">
                            <NavLink class="img-link" href="/Blog/Detail/2"></NavLink>
                            <div class="post-content-overlay">
                                <h6 class="post-title">
                                    <NavLink class="color-white" href="/Blog/Detail/2">بررسی اختلاف های امریکا و ایران</NavLink>
                                </h6>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!--pagination-->
            <div class="pagination-area pt-30 text-center bt-1 border-color-1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="single-wrap d-flex justify-content-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><NavLink class="page-link" href="#"><i class="flaticon-left"></i> </NavLink></li>
                                        <li class="page-item active"><NavLink class="page-link" href="#">01</NavLink></li>
                                        <li class="page-item"><NavLink class="page-link" href="#">02</NavLink></li>
                                        <li class="page-item"><NavLink class="page-link" href="#">03</NavLink></li>
                                        <li class="page-item"><NavLink class="page-link" href="#"><i class="flaticon-right"></i> </NavLink></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>