<div class="archive-header text-center">
    <div class="container">
        <div class="breadcrumb" dir="rtl">
            <a href="index.html" rel="nofollow">خانه</a>
            <span></span> مقاله ها
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-50"></div>
    </div>
</div>
@code {

}
