@*<img class="m-auto" src="https://lh3.googleusercontent.com/ophqpJaO3Mt0BwuZ7yagkN-lCYKP0H_tdLkQE_lA9hy44MtKkg2vLXzqyWI_UUemrJWqsuZyxqKDlKtcMq4EtMyy=s992" width="130" />*@

<div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div>